html,
body {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

hr {
    border-color: aqua;
}

button {
    padding: 15px;
    font-size: 1.3rem;
}
